
@page
@model WebApplication3.Pages.ChangePasswordModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="mb-3">Change Password</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.OldPassword">Old Password</label>
                    <input type="password" asp-for="CPModel.OldPassword" class="form-control" required />
                    <span asp-validation-for="CPModel.OldPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.NewPassword">New Password</label>
                    <input type="password" asp-for="CPModel.NewPassword" class="form-control" required />
                    <span asp-validation-for="CPModel.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="CPModel.ConfirmNewPassword">Confirm New Password</label>
                    <input type="password" asp-for="CPModel.ConfirmNewPassword" class="form-control" required />
                    <span asp-validation-for="CPModel.ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
